<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.netty.transport"
          android:versionCode="410"
          android:versionName="4.1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <application/>

</manifest>